body {
  margin-top: 60px;
  background-color: #000000;
  line-height: 3;

}


h3 {
  font-size: 60px;
  color: #d41bbc;
  line-height: 25px;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
  margin-bottom: 20PX;
  line-height: 0;

}

@media (max-width: 1300px) {
  h3 {
    font-size: 30px;
    color: #d41bbc;
    line-height: 25px;
    font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
    margin-bottom: 20PX;
  }
}

h11 {
  font-size: 50px;
  color: #000000;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;

}

@media (max-width: 999px) {
  h11 {
    font-size: 40px;
    color: #000000;
    font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
  }
}


.texto2 {
  flex: 1;
  color: #ffffff;
  padding: 40px;
  font-family: 'Kanit', sans-serif;
  margin: 10px;
}

@media (min-width: 1301px) {
  .texto2 {
    font-size: 22px;
    color: #ffffff;
    line-height: 1.5;
  }
}

@media (max-width: 1300px) {
  .texto2 {
    font-size: 22px;
    color: #ffffff;
    line-height: 1.5;
  }
}

@media (max-width: 999px) {
  .texto2 {
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 40px;
  }
}

@media (max-width: 800px) {
  .texto2 {
    font-size: 18px;
    padding: 0px;

  }
}

@media (max-width: 770px) {
  .texto2 {
    font-size: 16px;
    padding: 40px;

  }
}

@media (max-width: 700px) {
  .texto2 {
    font-size: 16px;

  }
}

@media (max-width: 650px) {
  .texto2 {
    font-size: 16px;

  }
}

@media (max-width: 600px) {
  .texto2 {
    font-size: 16px;

  }
}

@media (max-width: 550px) {
  .texto2 {
    font-size: 16px;

  }
}

@media (max-width: 500px) {
  .texto2 {
    font-size: 16px;

  }
}

@media (max-width: 450px) {
  .texto2 {
    font-size: 16px;

  }
}

@media (max-width: 400px) {
  .texto2 {
    font-size: 16px;

  }
}

@media (max-width: 350px) {
  .texto2 {
    font-size: 14px;

  }
}






.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.0rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 20px;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f19209;
  --bs-btn-border-color: #f19209;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f19209;
  --bs-btn-hover-border-color: #f19209;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f19209;
  --bs-btn-active-border-color: #f19209;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f19209;
  --bs-btn-disabled-border-color: #f19209;
  height: 40px;
  margin-top: auto;
}

.btn-success.focus,
.btn-success:focus {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
  background: #f19209;
}

.d-flex {
  display: flex !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.offcanvas-body {
  flex-grow: 1;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
}

.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.menu-img {
  display: block;
  margin: 0 auto;
  width: 6em;
  height: 3em;
  margin-left: 20px;

}

@media (min-width: 280px) {
  .menu-img {
    height: 2em;
    margin-left: 20px;

  }
}

@media (max-width: 360px) {
  .menu-img {
    height: 2em;
    margin-left: 20px;

  }
}


body {
  font-family: 'Kanit', sans-serif;

}

form1 {
  background-color: #212529;
  padding: 50px;
  margin-top: -120px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: 40px;

}

h8 {
  font-size: 1.5rem;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
  margin-top: auto;
  margin-right: -50px;

}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.bg-dark {
  --bs-bg-opacity: 1;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('../IMAGENES/MENU.png');
  background-size: 30px 30px;
  background-color: black;
  width: 30px;
  height: 30px;
  border: none;
}

.mt-3 {
  margin-top: 1rem !important;
  background: black;
}

:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 0, 0, 0;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  border: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

body {
  margin-top: 60px;
  background-color: #ffffff;
  line-height: 3;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}



.titulo-equipo {
  font-size: 27px;
  letter-spacing: -0.2px;
  margin-bottom: 30px;
  text-align: center;
}

.cardContainer {
  margin-bottom: 30px;
  margin: 20px auto;
  text-align: center;
}

.card {
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}

@media (min-width: 1300px) {
  .card {
    margin: 100px auto;
  }
}

.card-deck {
  margin-bottom: 50px;

}

@media (max-width: 999px) {
  .card-deck {
    display: block;
  }
}

@media (min-width: 1000px) {
  .card-deck {
    display: flex;
  }
}

@media (max-width: 570px) {
  .card-deck {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-align: center;
  }
}

.card:hover {
  transform: translateY(-20px);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0px 0px 0 0;
}

.card-body {
  padding: 40px;
  text-align: justify;
  background: black;

}

.card-title {
  font-size: 26px;
  margin-bottom: 15px;
  color: white;
  background: black;

}

*,
::after,
::before {
  box-sizing: content-box;
}

.card-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: -15px;
  color: white;
  text-align: center;

}

@media only screen and (max-width: 999px) {
  .card-text {
    font-size: 20px;
  }
}



.card-footer {
  border: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background: white;
}

.h10 {
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  padding-top: 40px;
  font-weight: bold;

}

@media (max-width: 999px) {
  .h10 {
    padding-bottom: 40px;

  }
}

@media (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

#slider-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#slides {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 769px) {
  #slides {
    flex-direction: row;
  }

  .slide {
    min-width: 100%;
    height: auto;
  }
}

videopc {
  width: 0%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 769px) {
  videopc {
    width: 100%;
  }
}

videopc video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 769px) {
  videopc video {
    width: 0%;
  }
}

videocel {
  width: 100%;
  height: 100%;
}

@media (min-width: 769px) {
  videocel {
    width: 100%;
  }
}


videocel video {
  width: 0%;
}

@media (max-width: 769px) {
  videocel video {
    width: 100%;
  }
}

body {
  background-color: #000000;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  border: none;
}



header {
  position: relative;
}

header img {
  position: relative;
}

.home img {
  width: 60%;
  position: fixed;
  margin-top: 20%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  opacity: 1;
  transition: opacity 0.5s;
}

@media (max-width: 769px) {

  .home img,
  .home {
    width: 0%;
  }
}


h3 {
  font-size: 50px;
  color: #ffffff;
  line-height: 20px;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
  line-height: 0;

}

@media (max-width: 1300px) {
  h3 {
    font-size: 30px;
    margin-left: 0px;

  }
}

@media (max-width: 770px) {
  h3 {
    margin-left: 0px;
    font-size: 30px;
    line-height: 0;

  }
}

h4 {
  font-size: 60px;
  color: #ffa524;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
  line-height: 1;

}

@media (max-width: 999px) {
  h4 {
    font-size: 40px;
  }
}

h11 {
  font-size: 50px;
  color: #000000;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
}

@media (max-width: 999px) {
  h11 {
    font-size: 40px;
  }
}


h13 {
  font-size: 50px;
  color: #00adef;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
  line-height: .7;

}

@media (max-width: 999px) {
  h13 {
    font-size: 40px;
  }
}


.contenedor2 {
  padding: 50px;
  display: flex;
  align-items: center;
  height: auto;
  font-size: medium;
  line-height: 30px;
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 999px) {
  .contenedor2 {
    padding: 0px;
    display: flex;
    align-items: center;
    height: auto;
    font-size: medium;
    line-height: 30px;
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 769px) {
  .contenedor2 {
    display: block;
    padding: 0;
  }
}

.contenedor3 {
  padding: 50px;
  display: flex;
  align-items: center;
  height: auto;
  font-size: medium;
  line-height: 30px;
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 999px) {
  .contenedor3 {
    padding: 0px;
    display: flex;
    align-items: center;
    height: auto;
    font-size: medium;
    line-height: 30px;
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 769px) {
  .contenedor3 {
    display: block;
    padding: 50px;
  }
}

.imagen2 {
  width: 40%;
  height: auto;
  float: right;
  margin-left: 20px;
  animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

@media (max-width: 1300px) {
  .imagen2 {
    width: 50%;
    height: auto;
    float: right;
    margin-left: 20px;
  }
}

@media (max-width: 770px) {
  .imagen2 {
    width: 70%;
    height: auto;
    float: none;
    margin-left: 15%;
    margin-bottom: 110px;
  }
}

.theme_btn {
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 18px 24px;
  position: relative;
  border-radius: 25px;
  background-size: 200% auto;
  background: #f19209;
  border-radius: 40px;
  transition: all 300ms linear 0s;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;

}

.theme_btn:hover {
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 18px 24px;
  position: relative;
  border-radius: 25px;
  background-size: 200% auto;
  background: #000000;
  border-radius: 40px;
  transition: all 300ms linear 0s;
  text-decoration: none;
}

.theme_btn2 {
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 18px 24px;
  position: relative;
  border-radius: 25px;
  background-size: 200% auto;
  background: #000000;
  border-radius: 40px;
  transition: all 300ms linear 0s;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;


}

.theme_btn2:hover {
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 18px 24px;
  position: relative;
  border-radius: 25px;
  background-size: 200% auto;
  background: #00adef;
  border-radius: 40px;
  transition: all 300ms linear 0s;
  text-decoration: none;
}


h5 {
  background-color: #ffffff;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.newsletter-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

videopc2 {
  width: 0%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 769px) {
  videopc2 {
    width: 100%;
  }
}

videopc2 video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 769px) {
  videopc2 video {
    width: 0%;
  }
}

videocel2 {
  width: 100%;
  height: 100%;

}

@media (min-width: 769px) {
  videocel2 {
    width: 100%;
  }
}


videocel2 video {
  width: 0%;
  margin-top: 60px;
  margin-bottom: -30px;
}

@media (max-width: 769px) {
  videocel2 video {
    width: 100%;
  }
}


.imagen3 {
  width: 40%;
  height: auto;
  float: right;
  margin-left: 20px;
  animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

@media (max-width: 1300px) {
  .imagen3 {
    width: 50%;
    height: auto;
    float: right;
    margin-left: 20px;
  }
}

@media (max-width: 770px) {
  .imagen3 {
    width: 70%;
    height: auto;
    float: none;
    margin-left: 15%;
    margin-bottom: 110px;
  }
}

.texto3 {
  flex: 1;
  color: #000000;
  font-family: 'Kanit', sans-serif;
  margin: 10px;
}

@media (min-width: 1301px) {
  .texto3 {
    font-size: 22px;
    color: #646464;
    line-height: 1.5;
  }
}

@media (max-width: 1300px) {
  .texto3 {
    font-size: 22px;
    color: #646464;
    line-height: 1.5;
    text-align: center;
    padding: 0;

  }
}

@media (max-width: 999px) {
  .texto3 {
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 0px;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .texto3 {
    font-size: 18px;
    padding: 0px;

  }
}

@media (max-width: 770px) {
  .texto3 {
    font-size: 16px;
    text-align: center;
    padding: 0;

  }
}

@media (max-width: 700px) {
  .texto3 {
    font-size: 16px;
    padding: 0;

  }
}

@media (max-width: 650px) {
  .texto3 {
    font-size: 16px;
    padding: 0;

  }
}

@media (max-width: 600px) {
  .texto3 {
    font-size: 16px;

  }
}

@media (max-width: 550px) {
  .texto3 {
    font-size: 16px;

  }
}

@media (max-width: 500px) {
  .texto3 {
    font-size: 16px;

  }
}

@media (max-width: 450px) {
  .texto3 {
    font-size: 16px;

  }
}

@media (max-width: 400px) {
  .texto3 {
    font-size: 16px;

  }
}

@media (max-width: 350px) {
  .texto3 {
    font-size: 14px;

  }
}

h11 {
  font-size: 50px;
  color: #000000;
  font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
}

@media (max-width: 999px) {
  h11 {
    font-size: 40px;
    color: #000000;
    font-family: '      font-family: 'Poppins', sans-serif;', sans-serif;
  }
}


#slider-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#slides {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 769px) {

  #slides {
    flex-direction: row;
  }

  .slide {
    min-width: 100%;
    height: auto;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

@media (max-width: 770px) {
  .slide {
    width: 0%;
    min-width: 0%;
    height: 0%;
  }
}

@media (min-width: 1300px) {
  .slide {
    min-width: 100%;
    height: auto;
  }
}
*,*:after,*:before{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}


.form-container{
width: 100%;
max-width: 600px;
margin:0 auto;
background: #000000;
padding: 20px;
border-radius: 10px;
color: #fff;
}
.input-row{
margin-bottom: 10px;
}
.input-row label{
display: block;
margin-bottom: 3px;
}
.input-row input,
.input-row textarea{
width: 100%;
padding: 10px;
border:0;
border-radius: 3px;
outline: 0;
margin-bottom: 3px;
font-size: 18px;
font-family: arial;
}
.input-row textarea{
height: 100px;
}
.input-row input[type="submit"] {
width: 100px;
margin:0 auto;
display: block;
text-align: center; 
background: #002f3a;
color: #ffffff;
cursor: pointer;
}
.success {
background-color: #9fd2a1;
padding: 5px 10px;
color: #326b07;
text-align: center;
border-radius: 3px;
font-size: 14px;
margin-top: 10px;
}

form {
  background-color: #212529;
  padding: 50px;
}